<h2>Parcel Explorer - v.01</h2>

This little app imports data from a CSV file to the Database.<br/><br/>
The CSV file is found at public/import.csv<br/><br>
<hr/>
<b>WARNING:</b> It takes a LONG time.  Just wait.<br/><br/>
You may <a href="<%= import_path %>">click here</a> to Import<br/><br/>

You could also run "rake parcel:import" from the application directory.